@import "tailwindcss";
@import '../styles/components.css';

@theme {
  --font-logo: var(--font-logo, sans-serif);
}

:root {
  --color-page-bg: #ffffff;
  --color-logo-accent: #00FFFF; 
  --color-border: #4b5563be;
  --color-header-bg: #ffffff;
  --color-text-header: #0F0F0F;
  --color-text-body: #0F0F0F;
  --color-icon: #0F0F0F;
  --color-text-muted: oklch(65.7% 0.022 261.325);
  --color-button-primary-bg: #22d3ee;
  --color-button-primary-hover: #0f172a;
  --color-navigation-hover: rgba(0, 0, 0, 0.05);
}

/* Темная тема */
@media (prefers-color-scheme: dark) {
  :root {
    --color-page-bg: oklch(13% 0.028 261.692); 
    --color-text-body: #F1F1F1;
    --color-header-bg: oklch(13% 0.028 261.692); 
    --color-text-header: #F1F1F1;
    --color-icon: #F1F1F1;
    --color-navigation-hover: rgba(255, 255, 255, 0.1);
}
}

@layer base{
  body {
    color-scheme: light dark; /* Указывает браузеру, что страница использует темную тему */
    background-color: var(--color-page-bg);
  }
}
